@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<h1>@localizer["Merhaba"] bugün @localizer["Hava"] çok sıcak siz burada nasıl rahatça oturuyorsunuz?</h1>

